{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block content %}
    <h1>欢迎！</h1>
    {% if form.errors %}
        <p>如果您没有账号，点击<a href="{% url "register" %}">注册</a> </p>
    {% else %}
        <form action="{% url 'login' %}" method="post">
    {% endif %}
    
    <div class="login-form">
        <form action="{% url "login" %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="登录"></p>
        </form>
        <p><a href="{% url "password_reset" %}">忘记密码?</a></p>
        <p><a href="{% url "register" %}">注册</a></p>
    </div>

{% endblock %}
